# Standard Login-Name für den APP-Login
# Falls diese Standardwerte genutzt werden sollen, dann 
# benenne diese Datei um in .env.local
# falls die DAtei .env.local nicht vorhanden ist, dann müssen die Logindaten für die APP-Login
# per Hand eingegeben werden
VITE_DEV_LOGIN_USERNAME=Admin
VITE_DEV_LOGIN_PASSWORD=Admin1234567
