DB_HOST=localhost
DB_PORT=3307
DB_NAME=stats
# DB-User mit SChreibrechten auf die DB stats
# Muss in MariadB oder mit dBeaver angelegt werden
# Über diesen User greift das Backend auf dei DB zu
DB_USER=stats_user
DB_PASSWORD=Admin1234567
JWT_SECRET=supersecretkey